table {
  width: 100%;
}

#memory-table th {
  text-align: center;
  vertical-align: middle;
}

#memory-table td {
  text-align: center;
  vertical-align: middle;
}

.panel-block > .field {
  width: 100%;
}

.table-block  {
  width: 100%;
}

.label {
  white-space: nowrap; 
}

#address-jump, #mem-move, #display-settings, #display-rows {
  box-sizing: border-box;  /* needed for having same width for input and select */
  width: 95px;
}

@media screen and (max-width: 330px) {
  .table-row {
    padding-top: 0.3rem;
  }  
}

@media screen and (min-width: 200px), print {
  .field {
    display: inline-block; 
  }
}

@media screen and (min-width: 331px), print {
  .table-block  {
    display: table;
  }
  .table-row {
    display: table-row;
  }
  .field-label {
    display: table-cell;
    padding-top: 0.3rem;
    padding-right: 0.5rem;
    text-align: right;
  }
  .field-body {
    display: table-cell;
  }

  .field-label.is-small {
    font-size: 0.75rem;
    padding-top: 0.375em;
  }
  .field-label.is-normal {
    padding-top: 0.375em;
  }
  .field-label.is-medium {
    font-size: 1.25rem;
    padding-top: 0.375em;
  }
  .field-label.is-large {
    font-size: 1.5rem;
    padding-top: 0.375em;
  }
}
