on:
  push:
    tags:
      - "v*"

name: Release extension

jobs:
  build:
    name: Release extension
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Use Node.js
        uses: actions/setup-node@v4
      - name: Install dependencies
        run: npm install
      - name: Build venus
        run: npx grunt buildvenus
      - name: Build extension
        run: npm run compile
      - name: Package extension
        run: npm run package
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          name: Release ${{ github.ref }}
          draft: false
          prerelease: false
          files: ./**.vsix
      - name: Vscode release plugin
        if: contains(github.ref.contains, '-')
        env:
          PUBLISHER_TOKEN: ${{ secrets.PUBLISHER_TOKEN }}
        run: |
          npm run publish -- -p "$env:PUBLISHER_TOKEN"
